@{
    ViewData["Title"] = "Character";
}

<h1>Character</h1>
<body id="display">
    <table>
    </table>
    <input type="button" id="btn" value="Submit" />
</body>

<script src="~/js/site.js"></script>

