@{
    ViewData["Title"] = "Home Page";
}
<html>
<body style="background-color: black">
    <div class="text-center" style="font-family: Impact; color: bisque">
        <h1 class="display-4">Welcome to the Dark Souls Imaginarium</h1>
        <p style="font-size: 72px">\[T]/</p>
        <p><a href="https://docs.microsoft.com/aspnet/core">Praise the Sun!</a></p>
        <label for="class">Select Your Starting Class</label><br />

        <form method="post" id="createClass" asp-action="Character" asp-controller="Home">
            <button type="submit">Create New Unkindled</button>
        </form>
    </div>
</body>
</html>
