@{
    ViewData["Title"] = "Home Page";
}
<html>
<body style="background-color: black" id="display">
    <div class="align-content-center" style="font-family: Impact; color: bisque; font-size: 18px">
        <h1 class="display-4">Welcome to the Dark Souls Imaginarium</h1>
        <label for="class">Select Your Starting Class</label><br />
        <form onchange="display()">
            <select id="select">
                <option value=""></option>
                <option value="Knight">Knight</option>
                <option value="Warrior">Warrior</option>
                <option value="Cleric">Cleric</option>
                <option value="Deprived">Deprived</option>
                <option value="Thief">Thief</option>
                <option value="Mercenary">Mercenary</option>
                <option value="Sorcerer">Sorcerer</option>
                <option value="Assassin">Assassin</option>
                <option value="Pyromancer">Pyromancer</option>
            </select>
        </form>
        <br />
        <div class="row">
            <div class="col-4">
                <table border="1" style="border: 2px solid white" width="75%">
                    <tr>
                        <td>Starting Class: </td>
                        <td id="yourClass"> ------- </td>
                    </tr>
                    <tr>
                        <td>Starting Level: </td>
                        <td id="newLevel"> 0 </td>
                    </tr>
                    <tr>
                        <td>Vigor: </td>
                        <td id="newVig"> 0 </td>
                    </tr>
                    <tr>
                        <td>Attunement: </td>
                        <td id="newAtt"> 0 </td>
                    </tr>
                    <tr>
                        <td>Endurance: </td>
                        <td id="newEnd"> 0 </td>
                    </tr>
                    <tr>
                        <td>Vitality: </td>
                        <td id="newVit"> 0 </td>
                    </tr>
                    <tr>
                        <td>Strength: </td>
                        <td id="newStr"> 0 </td>
                    </tr>
                    <tr>
                        <td>Dexterity: </td>
                        <td id="newDex"> 0 </td>
                    </tr>
                    <tr>
                        <td>Intelligence: </td>
                        <td id="newInt"> 0 </td>
                    </tr>
                    <tr>
                        <td>Faith: </td>
                        <td id="newFth"> 0 </td>
                    </tr>
                    <tr>
                        <td>Luck: </td>
                        <td id="newLuck"> 0 </td>
                    </tr>
                </table>
            </div>
            <div align="center" class="col-4">
                <table>
                    <tr>
                        <td>
                            Choose Weapon
                        </td>
                        <td>
                            <select id="weapon" style="width: 200px">
                                <option value="Greatsword">Greatsword</option>
                                <option value="Spear">Spear</option>
                                <option value="Crossbow">Crossbow</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Choose Shield
                        </td>
                        <td>
                            <select id="shield" style="width: 200px">
                                <option value="Grass Crest Shield">Grass Crest Shield</option>
                                <option value="Shield of Want">Shield of Want</option>
                                <option value="Black Knight Greatshield">Black Knight Greatshield</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Choose Helm
                        </td>
                        <td>
                            <select id="helm" style="width: 200px">
                                <option value="Black Knight Helm">Black Knight Helm</option>
                                <option value="Prayer Hood">Prayer Hood</option>
                                <option value="Sun Knight Helm">Sun Knight Helm</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Choose Armor
                        </td>
                        <td>
                            <select id="armor" style="width: 200px">
                                <option value="Havel's Armor">Havel's Armor</option>
                                <option value="Pontiff Knight Armor">Pontiff Knight Armor</option>
                                <option value="Deacon's Robes">Deacon's Robes</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Choose Gloves
                        </td>
                        <td>
                            <select id="gloves" style="width: 200px">
                                <option value="Priest Gloves">Priest Gloves</option>
                                <option value="Sun Knight Gauntlet">Sun Knight Gauntlet</option>
                                <option value="Black Knight Gauntlet">Black Knight Gauntlet</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Choose Boots
                        </td>
                        <td>
                            <select id="boots" style="width: 200px">
                                <option value="Dark Boots">Dark Boots</option>
                                <option value="Tattered Boots">Tattered Boots</option>
                                <option value="Priestess Boots">Priestess Boots</option>
                            </select>
                        </td>
                    </tr>
                </table>
                <br />
                <button type="button" onclick="change()">Create Build</button>
            </div>
            <div align="center" class="col-4">
                <table>
                    <tr>
                        <td id="newWeapon">
                        </td>
                    </tr>
                    <tr>
                        <td id="newShield">
                        </td>
                    </tr>
                    <tr>
                        <td id="newHelm">
                        </td>
                    </tr>
                    <tr>
                        <td id="newArmor">
                        </td>
                    </tr>
                    <tr>
                        <td id="newGloves">
                        </td>
                    </tr>
                    <tr>
                        <td id="newBoots">
                        </td>
                    </tr>
                </table>
                <p id="selected"></p>
            </div>
        </div>

        <script src="~/js/site.js"></script>
    </div>
</body>
</html>
